.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 0 0 0;
}

@media (max-width:1279px){
    .places{
        max-width: 928px;
    }
}

@media (max-width:1024px){
    .places{
        max-width: 720px;
    }
}

@media (max-width:767px){
    .places{
        max-width: 320px;
    }
}