.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    max-width: 720px;
    color: #FFF;
    padding-bottom: 32px;
}

@media (max-width: 767px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 16px;
    }
}