.place__paragraph{
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    padding-bottom: 26px;
}

.place__paragraph:last-child{
    padding-bottom: 0px;
}



@media (max-width: 768px){
    .place__paragraph{
        font-size: 16px;
        line-height: 163%;
        padding-bottom: 25px;
    }
}

@media (max-width:767px){
    .place__paragraph{
        grid-column: 1;
        grid-row: 4;
        max-width: 288px;
        margin: 0 auto;
    }
}