.intro{
    color: #FFF;
    max-width: 984px;
    margin: 0 auto;
}

@media (max-width:1279px){
    .intro{
        max-width: 928px;
    }
}

@media (max-width:1023px){
    .intro{
        max-width: 720px;
    }
}

@media (max-width:767px){
    .intro{
        max-width: 288px;
    }
}