.cover{
    font-family: 'Inter', "Helvetica Neue", "Arial", sans-serif;
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 0 0 0;
}

@media (max-width:1023px){
    .cover{
        padding: 90px 0 0 0;
    }
}

@media (max-width:767px){
    .cover{
        padding: 66px 0 0 0;
    }
}