.place{
    width: 100%;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    justify-content: center;
    gap: 48px 40px;
    color: #FFF;
    margin:  0 0 80px 0;
    
}

.place:last-child{
    margin: 0;
}


@media (max-width:1279px){
    .place{
        font-family: 'Inter', "Helvetica Neue", "Arial", sans-serif;
        grid-template-columns: 440px 456px;
        gap: 48px 32px;
    }
}

@media (max-width:1023px){
    .place{
        grid-template-columns: 340px 352px;
        gap: 48px 28px;
        margin: 0 0 72px 0;
    }
}

@media (max-width:767px){
    .place{
        grid-template-rows:repeat(4, minmax(min-content, max-content));
        grid-template-columns: none;
        margin: 0 0 50px 0;
        gap: 32px;
    }
}