.header__lang-links{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color: #FFF;
    transition: 0.5s;

}

.header__lang-links:hover{
    opacity: 0.8;
}

.header__lang-links:last-child{
    padding-right: 0px;
}

@media (max-width:767px){
    .header__lang-links{
        font-size: 18px;
        line-height: 20px;
    }
}